Repository arm/neural-graphics-model-gym: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, format, pylint, bandit, blocklint

autoflake:
  name: Run autoflake to remove unused imports
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --recursive
  - --in-place

isort:
  name: Run isort to reorder imports
  entry: isort src/ scripts/ tests/ *.py
  language: system
  require_serial: true

format:
  name: Run formatting
  entry: black
  language: python
  require_serial: true

pylint:
  name: Run pylint tests
  entry: pylint
  language: python
  require_serial: true
  args:
  - --disable=invalid-name

bandit:
  name: Run security checks
  entry: bandit
  language: python
  args:
  - --configfile=pyproject.toml
  - -r
  - -f=html
  - -o=report.html

blocklint:
  name: Run blocklint non-inclusive language checks
  entry: blocklint
  language: python
  args:
  - --skip-files=src/ng_model_gym/usecases/nss/model/shaders/depth_clip.slang,scripts/safetensors_generator/fsr2_methods.py,pyproject.toml
  require_serial: true

Update LICENSE.md to mention `model_export.py` (#143)
  LICENSE.md
Due: none

Update dependencies
  Dockerfile
  README.md
  pyproject.toml
  src/ng_model_gym/core/model/checkpoint_loader.py
  tests/core/unit/utils/test_checkpoint_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update dependencies (#144)
  Dockerfile
  README.md
  pyproject.toml
  src/ng_model_gym/core/model/checkpoint_loader.py
  tests/core/unit/utils/test_checkpoint_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-333] Improve error handling over batch size
  src/ng_model_gym/core/data/dataloader.py
  src/ng_model_gym/core/export/model_export.py
  src/ng_model_gym/usecases/nfru/data/dataset.py
  tests/core/export/test_executorch_integration.py
  tests/core/unit/data/test_dataloader.py
  tests/core/unit/utils/test_export_utils.py
  tests/usecases/nss/integration/base_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-333] Improve error handling over batch size (#147)
  src/ng_model_gym/core/data/dataloader.py
  src/ng_model_gym/core/export/model_export.py
  src/ng_model_gym/usecases/nfru/data/dataset.py
  tests/core/export/test_executorch_integration.py
  tests/core/unit/data/test_dataloader.py
  tests/core/unit/utils/test_export_utils.py
  tests/usecases/nss/integration/base_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Move blockmatch to shared location
  docs/nfru/nfru_data_generation.md
  docs/nfru/nfru_dataset_specification.md
  scripts/optical_flow/blockmatch_v32.py
  scripts/optical_flow_example/README.md
  scripts/optical_flow_example/optical_flow_example.py
  scripts/safetensors_generator/dataset_readers/flow_ops.py
  scripts/safetensors_generator/dataset_readers/nfru_exr_dataset_reader.py
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  src/ng_model_gym/usecases/nfru/model/optical_flow/__init__.py
  src/ng_model_gym/usecases/nfru/model/optical_flow/blockmatch_v311.py
  src/ng_model_gym/usecases/nfru/model/optical_flow/blockmatch_v32.py
  tests/scripts/test_flow_ops.py
  tests/scripts/test_safetensors_writer.py
  tests/usecases/nfru/unit/test_blockmatch_v311.py
  tests/usecases/nfru/unit/test_nfru_dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Move blockmatch to shared location (#148)
  docs/nfru/nfru_data_generation.md
  docs/nfru/nfru_dataset_specification.md
  scripts/optical_flow/blockmatch_v32.py
  scripts/optical_flow_example/README.md
  scripts/optical_flow_example/optical_flow_example.py
  scripts/safetensors_generator/dataset_readers/flow_ops.py
  scripts/safetensors_generator/dataset_readers/nfru_exr_dataset_reader.py
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  src/ng_model_gym/usecases/nfru/model/optical_flow/__init__.py
  src/ng_model_gym/usecases/nfru/model/optical_flow/blockmatch_v311.py
  src/ng_model_gym/usecases/nfru/model/optical_flow/blockmatch_v32.py
  tests/scripts/test_flow_ops.py
  tests/scripts/test_safetensors_writer.py
  tests/usecases/nfru/unit/test_blockmatch_v311.py
  tests/usecases/nfru/unit/test_nfru_dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-363 Add PyPi badge to README
  README.md
Due: none

Generate Readme for PYPI
  pyproject.toml
  version.py
Due: autoflake, isort, format, pylint, bandit

Generate Readme for PYPI (#149)
  pyproject.toml
  version.py
Due: autoflake, isort, format, pylint, bandit

Create output directory
  tests/usecases/nss/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Create output directory (#150)
  tests/usecases/nss/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update download CLI help text
  src/ng_model_gym/cli.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update download CLI help text (#151)
  src/ng_model_gym/cli.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Add PyPi badge to README (#152)
  README.md
Due: none

[MLMOD-137] Fix logging errors in test_api.py
  tests/core/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-137] Fix logging errors in test_api.py (#153)
  tests/core/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Fix typo in filename
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  src/ng_model_gym/usecases/nfru/model/nfru_v1_nn.py
  tests/usecases/nfru/unit/test_nfru_v1_model.py
  tests/usecases/nfru/unit/test_nfru_v1_nn.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-317] Remove unused dynamic mask function
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  src/ng_model_gym/usecases/nfru/model/shaders/sa/00_warp_mv.slang
  src/ng_model_gym/usecases/nfru/model/shaders/sa/common.slang
  src/ng_model_gym/usecases/nfru/model/shaders/sa/constants.slang
  src/ng_model_gym/usecases/nfru/model/shaders/sa/slang_only.slang
  tests/core/unit/utils/test_export_utils.py
  tests/usecases/nfru/unit/test_nfru_v1_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-317] Remove unused dynamic mask function (#154)
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  src/ng_model_gym/usecases/nfru/model/shaders/sa/00_warp_mv.slang
  src/ng_model_gym/usecases/nfru/model/shaders/sa/common.slang
  src/ng_model_gym/usecases/nfru/model/shaders/sa/constants.slang
  src/ng_model_gym/usecases/nfru/model/shaders/sa/slang_only.slang
  tests/core/unit/utils/test_export_utils.py
  tests/usecases/nfru/unit/test_nfru_v1_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Fix typo in filename (#155)
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  src/ng_model_gym/usecases/nfru/model/nfru_v1_nn.py
  tests/usecases/nfru/unit/test_nfru_v1_model.py
  tests/usecases/nfru/unit/test_nfru_v1_nn.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Bug fix for static shape export
  src/ng_model_gym/core/export/model_export.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-175 Add Docker Hub badge to README
  README.md
Due: none

MLMOD-175 Add Docker Hub badge to README (#156)
  README.md
Due: none

Update Docker Hub link to public link
  README.md
Due: none

Bug fix for static shape export (#157)
  src/ng_model_gym/core/export/model_export.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update Docker Hub link to public link (#158)
  README.md
Due: none

[MLMOD-317] NFRU: Use correct default loss fn
  src/ng_model_gym/core/config/schema_config.json
  src/ng_model_gym/core/loss/losses.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/enum_definitions.py
  src/ng_model_gym/usecases/nfru/configs/nfru_template.json
  tests/core/unit/loss/test_losses.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-317] NFRU: Use correct default loss fn (#159)
  src/ng_model_gym/core/config/schema_config.json
  src/ng_model_gym/core/loss/losses.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/enum_definitions.py
  src/ng_model_gym/usecases/nfru/configs/nfru_template.json
  tests/core/unit/loss/test_losses.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Adjust tolerances for unit test stability
  tests/usecases/nss/unit/test_autoencoder.py
  tests/usecases/nss/unit/test_nss_model_core.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Fix warning in NFRU loss function
  src/ng_model_gym/core/loss/losses.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Adjust tolerances for unit test stability (#160)
  tests/usecases/nss/unit/test_autoencoder.py
  tests/usecases/nss/unit/test_nss_model_core.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Stop non-test classes being treated as tests
  tests/core/unit/model/test_base_ng_model_qat.py
  tests/core/unit/model/test_model_tracer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update warning filters and apply to tests
  src/ng_model_gym/core/utils/logging_utils.py
  tests/__init__.py
  tests/conftest.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Avoid warning by cloning tensor differently
  src/ng_model_gym/usecases/nss/data/dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Make evaluators test cope with empty datasets
  src/ng_model_gym/core/evaluator/evaluator.py
  tests/core/unit/evaluator/test_evaluators.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Stop instantiating autograd function in test
  tests/usecases/nss/unit/test_pre_processing.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  format: any of: \.py$
  pylint: (any of: \.py$, but not: ^tests/) or (any of: ^tests/ and \.py$)
  bandit: any of: \.py$
  blocklint: any of: ^(docs/|src/|tests/|scripts/)
