Repository arm/neural-graphics-model-gym: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, format, pylint, bandit, blocklint

autoflake:
  name: Run autoflake to remove unused imports
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --recursive
  - --in-place

isort:
  name: Run isort to reorder imports
  entry: isort src/ scripts/ tests/ *.py
  language: system
  require_serial: true

format:
  name: Run formatting
  entry: black
  language: python
  require_serial: true

pylint:
  name: Run pylint tests
  entry: pylint
  language: python
  require_serial: true
  args:
  - --disable=invalid-name

bandit:
  name: Run security checks
  entry: bandit
  language: python
  args:
  - --configfile=pyproject.toml
  - -r
  - -f=html
  - -o=report.html

blocklint:
  name: Run blocklint non-inclusive language checks
  entry: blocklint
  language: python
  args:
  - --skip-files=src/ng_model_gym/usecases/nss/model/shaders/depth_clip.slang,scripts/safetensors_generator/fsr2_methods.py,pyproject.toml
  require_serial: true

MLXPK-1991 Check Windows support
  .blocklint
  Dockerfile
  LICENSE.md
  Makefile
  README.md
  build_docker_image.sh
  pyproject.toml
  scripts/utils/__init__.py
  scripts/utils/clean.py
  scripts/utils/run_blocklint.py
  scripts/utils/run_pylint.py
  src/ng_model_gym/api.py
  src/ng_model_gym/bin/model_converter_launcher.py
  src/ng_model_gym/core/model/shaders/slang_utils.py
  src/ng_model_gym/core/utils/logging.py
  src/ng_model_gym/core/utils/patch/executorch_patch.py
  src/ng_model_gym/core/utils/patch/torchao_patch.py
  tests/core/unit/utils/test_logging.py
  tests/fetch_huggingface.py
  tests/run_tests.py
  tests/scripts/test_config.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/integration/test_CLI.py
  tests/usecases/nss/integration/test_eval_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1991 Check Windows support (#102)
  .blocklint
  Dockerfile
  LICENSE.md
  Makefile
  README.md
  build_docker_image.sh
  pyproject.toml
  scripts/utils/__init__.py
  scripts/utils/clean.py
  scripts/utils/run_blocklint.py
  scripts/utils/run_pylint.py
  src/ng_model_gym/api.py
  src/ng_model_gym/bin/model_converter_launcher.py
  src/ng_model_gym/core/model/shaders/slang_utils.py
  src/ng_model_gym/core/utils/logging.py
  src/ng_model_gym/core/utils/patch/executorch_patch.py
  src/ng_model_gym/core/utils/patch/torchao_patch.py
  tests/core/unit/utils/test_logging.py
  tests/fetch_huggingface.py
  tests/run_tests.py
  tests/scripts/test_config.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/integration/test_CLI.py
  tests/usecases/nss/integration/test_eval_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2140 ReverseZ fix in Model Gym (#103)
  scripts/safetensors_generator/dataset_reader.py
  tests/scripts/test_safetensors_writer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1999: Config file versioning
  scripts/generate_config_schema.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/config_utils.py
  src/ng_model_gym/usecases/nss/configs/default.json
  src/ng_model_gym/usecases/nss/configs/default.json.license
  src/ng_model_gym/usecases/nss/configs/schema_config.json
  src/ng_model_gym/usecases/nss/configs/schema_config.json.license
  tests/core/integration/test_config_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1906: Fix duplicate tqdm progress bar
  src/ng_model_gym/core/model/shaders/slang_utils.py
  src/ng_model_gym/core/utils/general_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1999: Config file versioning (#105)
  scripts/generate_config_schema.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/config_utils.py
  src/ng_model_gym/usecases/nss/configs/default.json
  src/ng_model_gym/usecases/nss/configs/default.json.license
  src/ng_model_gym/usecases/nss/configs/schema_config.json
  src/ng_model_gym/usecases/nss/configs/schema_config.json.license
  tests/core/integration/test_config_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1906: Fix duplicate tqdm progress bar (#106)
  src/ng_model_gym/core/model/shaders/slang_utils.py
  src/ng_model_gym/core/utils/general_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2005: Evaluation support for non standard model input
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/recurrent_model.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  src/ng_model_gym/usecases/nss/model/nss_padding_utils.py
  tests/usecases/nss/unit/test_recurrent_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1881: Remove finetune/resume from config
  README.md
  scripts/generate_config_schema.py
  src/ng_model_gym/api.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/types.py
  src/ng_model_gym/usecases/nss/configs/default.json
  src/ng_model_gym/usecases/nss/configs/schema_config.json
  tests/core/unit/trainer/test_trainer.py
  tests/core/unit/utils/test_checkpoint_utils.py
  tests/core/unit/utils/test_export_utils.py
  tests/testing_utils.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/integration/test_api.py
  tests/usecases/nss/integration/test_qat_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Output ground truth when setting export_frame_png to true
  src/ng_model_gym/core/evaluator/evaluator.py
  tests/usecases/nss/integration/test_eval_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Output ground truth when setting export_frame_png to true (#107)
  src/ng_model_gym/core/evaluator/evaluator.py
  tests/usecases/nss/integration/test_eval_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1881: Remove finetune/resume from config (#108)
  README.md
  scripts/generate_config_schema.py
  src/ng_model_gym/api.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/types.py
  src/ng_model_gym/usecases/nss/configs/default.json
  src/ng_model_gym/usecases/nss/configs/schema_config.json
  tests/core/unit/trainer/test_trainer.py
  tests/core/unit/utils/test_checkpoint_utils.py
  tests/core/unit/utils/test_export_utils.py
  tests/testing_utils.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/integration/test_api.py
  tests/usecases/nss/integration/test_qat_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2005: Evaluation support for non standard model input (#109)
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/recurrent_model.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  src/ng_model_gym/usecases/nss/model/nss_padding_utils.py
  tests/usecases/nss/unit/test_recurrent_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update run_scenario.py
  scripts/run_scenario.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-128 Split README into individual .MD files
  CONTRIBUTING.md
  README.md
  docs/adding-custom-models-and-datasets.md
  docs/monitoring-and-profiling.md
  docs/nss/nss_data_generation.md
  docs/setup.md
  docs/testing.md
  docs/troubleshooting.md
  docs/usage.md
Due: blocklint

MLMOD-128 Split README into individual .MD files (#110)
  CONTRIBUTING.md
  README.md
  docs/adding-custom-models-and-datasets.md
  docs/monitoring-and-profiling.md
  docs/nss/nss_data_generation.md
  docs/setup.md
  docs/testing.md
  docs/troubleshooting.md
  docs/usage.md
Due: blocklint

Update run_scenario.py (#111)
  scripts/run_scenario.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-132 Set num_workers=0 when running tests on Windows
  tests/core/unit/utils/test_export_utils.py
  tests/testing_utils.py
  tests/usecases/nss/integration/base_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-132 Set num_workers=0 when running tests on Windows (#112)
  tests/core/unit/utils/test_export_utils.py
  tests/testing_utils.py
  tests/usecases/nss/integration/base_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-76: List and download from HF
  README.md
  pyproject.toml
  src/ng_model_gym/__init__.py
  src/ng_model_gym/api.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/model/repos/__init__.py
  src/ng_model_gym/core/model/repos/base_model_server.py
  src/ng_model_gym/core/model/repos/huggingface_model_server.py
  src/ng_model_gym/core/model/repos/remote_model_manager.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/config_model.py
  tests/core/export/test_executorch_integration.py
  tests/core/unit/model/test_remote_model_manager.py
  tests/usecases/nss/integration/test_CLI.py
  tests/usecases/nss/integration/test_api.py
  tests/usecases/nss/integration/test_eval_integration.py
  tests/usecases/nss/integration/test_qat_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-76: List and download from HF (#113)
  README.md
  pyproject.toml
  src/ng_model_gym/__init__.py
  src/ng_model_gym/api.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/model/repos/__init__.py
  src/ng_model_gym/core/model/repos/base_model_server.py
  src/ng_model_gym/core/model/repos/huggingface_model_server.py
  src/ng_model_gym/core/model/repos/remote_model_manager.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/config_model.py
  tests/core/export/test_executorch_integration.py
  tests/core/unit/model/test_remote_model_manager.py
  tests/usecases/nss/integration/test_CLI.py
  tests/usecases/nss/integration/test_api.py
  tests/usecases/nss/integration/test_eval_integration.py
  tests/usecases/nss/integration/test_qat_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-174] Tidy up README.md
  README.md
Due: none

Prevent remote model string identifiers being incorrectly converted to Path
  README.md
  docs/usage.md
  src/ng_model_gym/api.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/model/repos/remote_model_manager.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Prevent remote model string identifiers being incorrectly converted to Path (#114)
  README.md
  docs/usage.md
  src/ng_model_gym/api.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/model/repos/remote_model_manager.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-174] Tidy up README.md (#115)
  README.md
Due: none

Remove packages from Dockerfile already installed in base image
  Dockerfile
  docs/setup.md
Due: blocklint

Remove packages from Dockerfile already installed in base image (#117)
  Dockerfile
  docs/setup.md
Due: blocklint

[MLMOD-23] Add STLPIPS image quality metric
  pyproject.toml
  src/ng_model_gym/core/evaluator/__init__.py
  src/ng_model_gym/core/evaluator/metrics.py
  tests/core/unit/evaluator/test_metrics.py
Due: autoflake, isort, format, pylint, bandit, blocklint

[MLMOD-23] Add STLPIPS image quality metric (#118)
  pyproject.toml
  src/ng_model_gym/core/evaluator/__init__.py
  src/ng_model_gym/core/evaluator/metrics.py
  tests/core/unit/evaluator/test_metrics.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update Hatch environments in pyproject.toml
  CONTRIBUTING.md
  README.md
  docs/setup.md
  docs/testing.md
  pyproject.toml
  src/ng_model_gym/core/evaluator/evaluator.py
  src/ng_model_gym/core/quantization/observers.py
  tests/core/unit/evaluator/test_evaluators.py
  tests/fetch_huggingface.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update Hatch environments in pyproject.toml (#119)
  CONTRIBUTING.md
  README.md
  docs/setup.md
  docs/testing.md
  pyproject.toml
  src/ng_model_gym/core/evaluator/evaluator.py
  src/ng_model_gym/core/quantization/observers.py
  tests/core/unit/evaluator/test_evaluators.py
  tests/fetch_huggingface.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-191 Install libgl1 and libglib2.0-0 in Dockerfile
  Dockerfile
Due: none

MLMOD-191 Install libgl1 and libglib2.0-0 in Dockerfile (#120)
  Dockerfile
Due: none

MLXPK-2167: Update dependencies
  .gitignore
  pyproject.toml
  src/ng_model_gym/api.py
  src/ng_model_gym/bin/model_converter_launcher.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/patch/executorch_patch.py
  tests/core/export/test_executorch_integration.py
  tests/scripts/test_config.py
  tests/testing_utils.py
  tests/usecases/nss/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2167: Update dependencies (#121)
  .gitignore
  pyproject.toml
  src/ng_model_gym/api.py
  src/ng_model_gym/bin/model_converter_launcher.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/patch/executorch_patch.py
  tests/core/export/test_executorch_integration.py
  tests/scripts/test_config.py
  tests/testing_utils.py
  tests/usecases/nss/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-107 Dataset spec updates: camera cuts + sequence/capture/dataset semantics
  docs/nss/nss_data_capture_guide.md
  docs/nss/nss_data_generation.md
  docs/nss/nss_dataset_specification.md
  scripts/safetensors_generator/dataset_reader.py
  src/ng_model_gym/usecases/nss/data/dataset.py
  tests/datasets/test_exr/0002_camcut.json
  tests/datasets/test_exr/0002_camcut.json.license
  tests/scripts/test_safetensors_writer.py
  tests/usecases/nss/integration/test_train_integration.py
  tests/usecases/nss/unit/data/camera_cut_builders.py
  tests/usecases/nss/unit/test_nss_dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  format: any of: \.py$
  pylint: (any of: \.py$, but not: ^tests/) or (any of: ^tests/ and \.py$)
  bandit: any of: \.py$
  blocklint: any of: ^(docs/|src/|tests/|scripts/)
