Repository arm/neural-graphics-model-gym: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, format, pylint, bandit, blocklint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: <text>Copyright 2024-2025 Arm Limited and/or
# its affiliates <open-source-office@arm.com></text>
# SPDX-License-Identifier: Apache-2.0
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
        # See https://github.com/pre-commit/pre-commit-hooks to add more hooks.
        -   id: trailing-whitespace
        -   id: check-yaml
        -   id: check-json
  -   repo: https://github.com/fsfe/reuse-tool
      rev: v3.0.0
      hooks:
        - id: reuse
          name: Run copyright check
  -   repo: local
      hooks:
        # Run autoflake
        -   id: autoflake
            name: Run autoflake to remove unused imports
            entry: autoflake
            language: system
            types: [ python ]
            require_serial: true
            args:
              [
                "--remove-all-unused-imports",
                "--remove-unused-variables",
                "--recursive",
                "--in-place"
              ]
        # Run isort
        -   id: isort
            name: Run isort to reorder imports
            entry: isort src/ scripts/ tests/ *.py
            language: system
            types: [ python ]
            require_serial: true
        # Run formatting tool on all scripts
        -   id: format
            name: Run formatting
            entry: black
            language: python
            types: [ python ]
            require_serial: true
        # Run pylint for all Python scripts, excluding tests directory.
        -   id: pylint
            name: Run pylint src
            entry: pylint
            language: python
            types: [ python ]
            exclude: "^tests/"
            require_serial: true
            args:
              []
        # Run pylint for all Python scripts in tests directory.
        -   id: pylint
            name: Run pylint tests
            entry: pylint
            language: python
            types: [ python ]
            files: "^tests/"
            require_serial: true
            args:
              [
                "--disable=invalid-name" # Disable due to unittest setUp and tearDown functions not following conventions.
              ]
        # Run bandit security checks
        -   id: bandit
            name: Run security checks
            entry: bandit
            language: python
            'types': [ python ]
            args:
              [
                "--configfile=pyproject.toml",
                "-r",
                "-f=html",
                "-o=report.html"
              ]
        # Run blocklint non-inclusive language checks
        -   id: blocklint
            name: Run blocklint non-inclusive language checks
            entry: blocklint
            language: python
            args: [
              "--skip-files=src/ng_model_gym/usecases/nss/model/shaders/depth_clip.slang,scripts/safetensors_generator/fsr2_methods.py,pyproject.toml"
            ]
            files: ^(docs/|src/|tests/|scripts/)
            require_serial: true

MLXPK-1848 Hardcoded values in load_checkpoint (QAT)
  src/ng_model_gym/core/model/model_tracer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/export_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1848 Hardcoded values in load_checkpoint (QAT) (#82)
  src/ng_model_gym/core/model/model_tracer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/export_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1863 Get version from tag (#83)
  pyproject.toml
  src/ng_model_gym/__init__.py
  src/ng_model_gym/cli.py
  version.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1896 Try adding image classification as a usecase
  src/ng_model_gym/core/data/dataloader.py
  src/ng_model_gym/core/data/utils.py
  src/ng_model_gym/core/evaluator/evaluator.py
  src/ng_model_gym/core/evaluator/metrics.py
  src/ng_model_gym/core/loss/losses.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/export_utils.py
  src/ng_model_gym/usecases/nss/configs/default.json
  src/ng_model_gym/usecases/nss/configs/schema_config.json
  src/ng_model_gym/usecases/nss/data/dataset.py
  tests/core/unit/evaluator/test_evaluators.py
  tests/core/unit/evaluator/test_metrics.py
  tests/core/unit/loss/test_losses.py
  tests/core/unit/trainer/test_trainer.py
  tests/testing_utils.py
  tests/usecases/nss/integration/test_eval_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1985 Model factory assumes params in model's __init__
  .gitignore
  README.md
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/core/unit/model/test_base_ng_model_qat.py
  tests/core/unit/model/test_model_factory.py
  tests/core/unit/model/test_model_registry.py
  tests/core/unit/model/test_model_tracer.py
  tests/core/unit/utils/test_export_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1896 Try adding image classification as a usecase (#84)
  src/ng_model_gym/core/data/dataloader.py
  src/ng_model_gym/core/data/utils.py
  src/ng_model_gym/core/evaluator/evaluator.py
  src/ng_model_gym/core/evaluator/metrics.py
  src/ng_model_gym/core/loss/losses.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/config_model.py
  src/ng_model_gym/core/utils/export_utils.py
  src/ng_model_gym/usecases/nss/configs/default.json
  src/ng_model_gym/usecases/nss/configs/schema_config.json
  src/ng_model_gym/usecases/nss/data/dataset.py
  tests/core/unit/evaluator/test_evaluators.py
  tests/core/unit/evaluator/test_metrics.py
  tests/core/unit/loss/test_losses.py
  tests/core/unit/trainer/test_trainer.py
  tests/testing_utils.py
  tests/usecases/nss/integration/test_eval_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1985 Model factory assumes params in model's __init__ (#85)
  .gitignore
  README.md
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/core/unit/model/test_base_ng_model_qat.py
  tests/core/unit/model/test_model_factory.py
  tests/core/unit/model/test_model_registry.py
  tests/core/unit/model/test_model_tracer.py
  tests/core/unit/utils/test_export_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1972: Readme hero image
  README.md
  docs/ng-model-gym-cli-hero-img.png
  docs/ng-model-gym-cli-hero-img.png.license
Due: blocklint

MLXPK-1972: Readme hero image (#86)
  README.md
  docs/ng-model-gym-cli-hero-img.png
  docs/ng-model-gym-cli-hero-img.png.license
Due: blocklint

MLXPK-1883 [Documentation] Add general document on how to capture data
  README.md
  docs/nss/nss_data_capture_guide.md
  docs/nss/nss_dataset_specification.md
Due: blocklint

[Documentation] Add general document on how to capture data (#87)
  README.md
  docs/nss/nss_data_capture_guide.md
  docs/nss/nss_dataset_specification.md
Due: blocklint

MLXPK-2066: Trainer fixes
  LICENSE.md
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/schedulers/test_lr_schedules.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2066: Trainer fixes (#88)
  LICENSE.md
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/schedulers/test_lr_schedules.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2004 Dataset spec for NormalizedPerRatioJitter mentions incorrect value
  docs/nss/nss_dataset_specification.md
Due: blocklint

Fix incorrect NormalizedPerRatioJitter value in dataset spec (#89)
  docs/nss/nss_dataset_specification.md
Due: blocklint

MLXPK-2080: Reduce GPU memory usage
  src/ng_model_gym/core/data/utils.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/usecases/nss/unit/test_model_v1.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2080: Reduce GPU memory usage (#90)
  src/ng_model_gym/core/data/utils.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/usecases/nss/unit/test_model_v1.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1990 Generic pipecleaning
  src/ng_model_gym/core/evaluator/metrics.py
  tests/core/unit/evaluator/test_metrics.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-1990 Generic pipecleaning (#91)
  src/ng_model_gym/core/evaluator/metrics.py
  tests/core/unit/evaluator/test_metrics.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2081: GPU memory usage test
  src/ng_model_gym/api.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update License/Copyright Information
  LICENSE.md
  LICENSES/LicenseRef-BSD-3-TorchAO.txt
  LICENSES/LicenseRef-BSD-ExecuTorch.txt
  src/ng_model_gym/core/model/dense_warp_utils.py
  src/ng_model_gym/core/utils/export_utils.py
  src/ng_model_gym/core/utils/patch/patch_file.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update License/Copyright Information (#92)
  LICENSE.md
  LICENSES/LicenseRef-BSD-3-TorchAO.txt
  LICENSES/LicenseRef-BSD-ExecuTorch.txt
  src/ng_model_gym/core/model/dense_warp_utils.py
  src/ng_model_gym/core/utils/export_utils.py
  src/ng_model_gym/core/utils/patch/patch_file.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2067: Save lr_scheduler metadata
  src/ng_model_gym/core/schedulers/lr_scheduler.py
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/trainer/test_trainer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-953: Error message for incorrect network input
  src/ng_model_gym/core/model/recurrent_model.py
  tests/usecases/nss/unit/test_recurrent_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2081: GPU memory usage test (#93)
  src/ng_model_gym/api.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2003 Dataset spec for UpscalingRatiosIndices is unclear
  docs/nss/nss_dataset_specification.md
Due: blocklint

MLXPK-953: Error message for incorrect network input (#94)
  src/ng_model_gym/core/model/recurrent_model.py
  tests/usecases/nss/unit/test_recurrent_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update dataset spec for UpscalingRatiosIndices field
  docs/nss/nss_dataset_specification.md
Due: blocklint

MLXPK-2136: Extra logging in dataloader
  src/ng_model_gym/usecases/nss/data/dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2067: Save lr_scheduler metadata (#96)
  src/ng_model_gym/core/schedulers/lr_scheduler.py
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/trainer/test_trainer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2136: Extra logging in dataloader (#97)
  src/ng_model_gym/usecases/nss/data/dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2317: WSL2 FAQ update
  README.md
Due: none

MLXPK-2317: WSL2 FAQ update (#98)
  README.md
Due: none

MLXPK-2084: Add git LFS to Dockerfile
  Dockerfile
Due: none

MLXPK-2084: Add git LFS to Dockerfile (#99)
  Dockerfile
Due: none

MLXPK-2002 Error on missing UpscalingRatiosIndices
  docs/nss/nss_dataset_specification.md
Due: blocklint

Make UpscalingRatiosIndices mandatory in NSS Dataset Spec (#100)
  docs/nss/nss_dataset_specification.md
Due: blocklint

MLXPK-2140 ReverseZ fix in Model Gym
  scripts/safetensors_generator/dataset_reader.py
  tests/scripts/test_safetensors_writer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLXPK-2001 Missing JSON Exposure field is not handled
  scripts/safetensors_generator/dataset_reader.py
  src/ng_model_gym/usecases/nss/data/dataset.py
  tests/usecases/nss/unit/test_nss_dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Handle optional Exposure field in dataset spec correctly (#101)
  scripts/safetensors_generator/dataset_reader.py
  src/ng_model_gym/usecases/nss/data/dataset.py
  tests/usecases/nss/unit/test_nss_dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint
