Repository arm/neural-graphics-model-gym: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, format, pylint, bandit, blocklint

autoflake:
  name: Run autoflake to remove unused imports
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --recursive
  - --in-place

isort:
  name: Run isort to reorder imports
  entry: isort src/ scripts/ tests/ *.py
  language: system
  require_serial: true

format:
  name: Run formatting
  entry: black
  language: python
  require_serial: true

pylint:
  name: Run pylint tests
  entry: pylint
  language: python
  require_serial: true
  args:
  - --disable=invalid-name

bandit:
  name: Run security checks
  entry: bandit
  language: python
  args:
  - --configfile=pyproject.toml
  - -r
  - -f=html
  - -o=report.html

blocklint:
  name: Run blocklint non-inclusive language checks
  entry: blocklint
  language: python
  args:
  - --skip-files=src/ng_model_gym/usecases/nss/model/shaders/depth_clip.slang,scripts/safetensors_generator/fsr2_methods.py,pyproject.toml
  require_serial: true

Fix heading levels in `docs/usage.md`
  docs/usage.md
Due: blocklint

[MLMOD-471] NSS/NFRU: Add specific config info
  docs/nfru/nfru_configuration.md
  docs/nss/nss_configuration.md
  docs/usage.md
Due: blocklint

MLMOD-459 Validate performance of different scale values
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_high_offset_lut_input_scale1p5_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_high_offset_lut_input_scale1p5_golden.pt.license
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_high_offset_lut_output_scale1p5_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_high_offset_lut_output_scale1p5_golden.pt.license
  tests/usecases/nss/unit/test_nss_v1_model.py
  tests/usecases/nss/unit/test_nss_v1_pre_processing.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-457 High to mid/low conversion for weights
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/usecases/nss/unit/test_nss_v1_checkpoint_loading.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-456 Latest NSSv1 upgrades
  src/ng_model_gym/core/config/config_model.py
  src/ng_model_gym/core/config/schema_config.json
  src/ng_model_gym/usecases/nss/configs/nss_v1_template.json
  src/ng_model_gym/usecases/nss/model/model_v1.py
  src/ng_model_gym/usecases/nss/model/quality_modes.py
  src/ng_model_gym/usecases/nss/model/shaders/nss_v1.slang
  src/ng_model_gym/usecases/nss/model/shaders/nss_v1/depth_scatter.slang
  src/ng_model_gym/usecases/nss/model/shaders/nss_v1/disocclusion_lq.slang
  src/ng_model_gym/usecases/nss/model/shaders/nss_v1/pre_process.slang
  tests/core/unit/utils/test_init_config_file.py
  tests/testing_utils.py
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_low_nss_output_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_mid_nss_output_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_v1_mid_preprocess_output_golden.pt
  tests/usecases/nss/unit/nss_v1_test_utils.py
  tests/usecases/nss/unit/test_nss_v1_model.py
  tests/usecases/nss/unit/test_nss_v1_model_core.py
  tests/usecases/nss/unit/test_nss_v1_model_golden.py
  tests/usecases/nss/unit/test_nss_v1_post_processing.py
  tests/usecases/nss/unit/test_nss_v1_pre_processing.py
  tests/usecases/nss/unit/test_nss_v1_quality_modes.py
  tests/usecases/nss/unit/test_nss_v1_shader_loading.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-504: Update qparam fake quantizer for NFRU
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  tests/core/unit/model/test_base_ng_model_qat.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-498 Update download dir in HF script for NSS
  src/ng_model_gym/core/repos/huggingface_model_server.py
  tests/core/export/test_executorch_integration.py
  tests/core/unit/model/test_remote_model_manager.py
  tests/fetch_huggingface.py
  tests/usecases/nss/integration/base_integration_v1.py
  tests/usecases/nss/integration/test_CLI.py
  tests/usecases/nss/integration/test_api.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-402 Update eval integration tests for nss-v1
  tests/usecases/nss/integration/data/nss_v1_reference_eval_metrics.json
  tests/usecases/nss/integration/data/nss_v1_reference_eval_metrics.json.license
  tests/usecases/nss/integration/data/nss_v1_reference_eval_metrics_scale_1_5.json
  tests/usecases/nss/integration/data/nss_v1_reference_eval_metrics_scale_1_5.json.license
  tests/usecases/nss/integration/data/nss_v1_reference_qat_eval_metrics.json
  tests/usecases/nss/integration/data/nss_v1_reference_qat_eval_metrics.json.license
  tests/usecases/nss/integration/test_eval_integration.py
  tests/usecases/nss/integration/test_qat_integration.py
  tests/usecases/nss/integration/test_train_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update paths on LICENSE.md
  LICENSE.md
Due: none

MLMOD-374 Remove legacy checkpoint loading logic
  src/ng_model_gym/core/model/checkpoint_loader.py
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/utils/test_checkpoint_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-505 Remove ExecuTorch patch for Windows
  LICENSE.md
  src/ng_model_gym/api.py
  src/ng_model_gym/core/utils/patch/executorch_patch.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Fix mismatch in template config schema versions
  src/ng_model_gym/core/config/custom_template.json
  tests/core/unit/utils/test_init_config_file.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Fix in dataset specs
  docs/nfru/nfru_dataset_specification.md
  docs/nss/nss_dataset_specification.md
Due: blocklint

Lazy load NFRU slang shaders
  src/ng_model_gym/usecases/nfru/model/nfru_v1.py
  tests/usecases/nfru/unit/test_nfru_v1_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Improve QAT fake quantization
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/quantization/__init__.py
  src/ng_model_gym/core/quantization/observers.py
  tests/core/unit/model/test_base_ng_model_qat.py
  tests/core/unit/quantization/test_observers.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-507: Documentation fixes
  LICENSE.md
  README.md
  docs/nfru/nfru_configuration.md
  docs/ng-model-gym-cli-hero-img.png
  docs/ng-model-gym-cli-hero-img.png.license
  docs/nss/nss_configuration.md
  docs/usage.md
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/config/config_model.py
  src/ng_model_gym/core/config/config_utils.py
  src/ng_model_gym/core/config/schema_config.json
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-508: Update model configuration docs
  README.md
  docs/nfru/nfru_configuration.md
  docs/nss/nss_configuration.md
  docs/testing.md
  docs/usage.md
  src/ng_model_gym/core/config/config_model.py
  src/ng_model_gym/core/config/schema_config.json
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-409 Improve robustness of nss-v1 checkpoint loading
  docs/usage.md
  src/ng_model_gym/core/model/checkpoint_loader.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/core/unit/trainer/test_trainer.py
  tests/core/unit/utils/test_checkpoint_utils.py
  tests/usecases/nss/unit/test_nss_v1_checkpoint_loading.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-515 Remove `version` attribute from model classes
  docs/adding-custom-models-and-datasets.md
  src/ng_model_gym/core/config/config_model.py
  src/ng_model_gym/core/config/config_utils.py
  src/ng_model_gym/core/config/custom_template.json
  src/ng_model_gym/core/config/schema_config.json
  src/ng_model_gym/core/export/model_export.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/core/model/model_registry.py
  tests/core/unit/model/test_model_factory.py
  tests/scripts/test_config.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Reduce NSS v1 recurrent output memory
  src/ng_model_gym/core/loss/losses.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/core/unit/trainer/test_trainer.py
  tests/usecases/nss/unit/test_nss_v1_model.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  format: any of: \.py$
  pylint: (any of: \.py$, but not: ^tests/) or (any of: ^tests/ and \.py$)
  bandit: any of: \.py$
  blocklint: any of: ^(docs/|src/|tests/|scripts/)
