Repository arm/neural-graphics-model-gym: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, format, pylint, bandit, blocklint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: <text>Copyright 2024-2025 Arm Limited and/or
# its affiliates <open-source-office@arm.com></text>
# SPDX-License-Identifier: Apache-2.0
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
        # See https://github.com/pre-commit/pre-commit-hooks to add more hooks.
        -   id: trailing-whitespace
        -   id: check-yaml
        -   id: check-json
  -   repo: https://github.com/fsfe/reuse-tool
      rev: v3.0.0
      hooks:
        - id: reuse
          name: Run copyright check
  -   repo: local
      hooks:
        # Run autoflake
        -   id: autoflake
            name: Run autoflake to remove unused imports
            entry: autoflake
            language: system
            types: [ python ]
            require_serial: true
            args:
              [
                "--remove-all-unused-imports",
                "--remove-unused-variables",
                "--recursive",
                "--in-place"
              ]
        # Run isort
        -   id: isort
            name: Run isort to reorder imports
            entry: isort src/ scripts/ tests/ *.py
            language: system
            types: [ python ]
            require_serial: true
        # Run formatting tool on all scripts
        -   id: format
            name: Run formatting
            entry: black
            language: python
            types: [ python ]
            require_serial: true
        # Run pylint for all Python scripts, excluding tests directory.
        -   id: pylint
            name: Run pylint src
            entry: pylint
            language: python
            types: [ python ]
            exclude: "^tests/"
            require_serial: true
            args:
              []
        # Run pylint for all Python scripts in tests directory.
        -   id: pylint
            name: Run pylint tests
            entry: pylint
            language: python
            types: [ python ]
            files: "^tests/"
            require_serial: true
            args:
              [
                "--disable=invalid-name" # Disable due to unittest setUp and tearDown functions not following conventions.
              ]
        # Run bandit security checks
        -   id: bandit
            name: Run security checks
            entry: bandit
            language: python
            'types': [ python ]
            args:
              [
                "--configfile=pyproject.toml",
                "-r",
                "-f=html",
                "-o=report.html"
              ]
        # Run blocklint non-inclusive language checks
        -   id: blocklint
            name: Run blocklint non-inclusive language checks
            entry: blocklint
            language: python
            args: [
              "--skip-files=src/ng_model_gym/usecases/nss/model/shaders/depth_clip.slang,scripts/safetensors_generator/fsr2_methods.py,pyproject.toml"
            ]
            files: ^(docs/|src/|tests/|scripts/)
            require_serial: true

MLMOD-198: Fix list and download cli command
  src/ng_model_gym/__init__.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/model/__init__.py
  src/ng_model_gym/core/model/repos/__init__.py
  src/ng_model_gym/core/repos/__init__.py
  src/ng_model_gym/core/repos/base_model_server.py
  src/ng_model_gym/core/repos/huggingface_model_server.py
  src/ng_model_gym/core/repos/remote_model_manager.py
  tests/core/unit/model/test_remote_model_manager.py
  tests/usecases/nss/integration/test_CLI.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-107 Dataset spec updates: camera cuts + sequence/capture/dataset semantics (#123)
  docs/nss/nss_data_capture_guide.md
  docs/nss/nss_data_generation.md
  docs/nss/nss_dataset_specification.md
  scripts/safetensors_generator/dataset_reader.py
  src/ng_model_gym/usecases/nss/data/dataset.py
  tests/datasets/test_exr/0002_camcut.json
  tests/datasets/test_exr/0002_camcut.json.license
  tests/scripts/test_safetensors_writer.py
  tests/usecases/nss/integration/test_train_integration.py
  tests/usecases/nss/unit/data/camera_cut_builders.py
  tests/usecases/nss/unit/test_nss_dataset.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-198: Fix list and download cli command (#124)
  src/ng_model_gym/__init__.py
  src/ng_model_gym/cli.py
  src/ng_model_gym/core/model/__init__.py
  src/ng_model_gym/core/model/repos/__init__.py
  src/ng_model_gym/core/repos/__init__.py
  src/ng_model_gym/core/repos/base_model_server.py
  src/ng_model_gym/core/repos/huggingface_model_server.py
  src/ng_model_gym/core/repos/remote_model_manager.py
  tests/core/unit/model/test_remote_model_manager.py
  tests/usecases/nss/integration/test_CLI.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-202: Trainer lifecycle hooks
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/base_ng_model_wrapper.py
  src/ng_model_gym/core/model/recurrent_model.py
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/trainer/test_trainer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-202: Trainer lifecycle hooks (#125)
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/base_ng_model_wrapper.py
  src/ng_model_gym/core/model/recurrent_model.py
  src/ng_model_gym/core/trainer/trainer.py
  tests/core/unit/trainer/test_trainer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Update pinned version for tosa-serialization-lib
  pyproject.toml
Due: none

Update pinned version for tosa-serialization-lib (#126)
  pyproject.toml
Due: none

MLMOD-182: Documentation update for Windows paths in config file
  README.md
Due: none

MLMOD-182: Documentation update for Windows paths in config file (#127)
  README.md
Due: none

MLMOD-163: Remove FeedbackModel
  src/ng_model_gym/core/evaluator/evaluator.py
  src/ng_model_gym/core/model/__init__.py
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/base_ng_model_wrapper.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/core/model/model_tracer.py
  src/ng_model_gym/core/model/recurrent_model.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/export_utils.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/core/unit/evaluator/test_evaluators.py
  tests/core/unit/model/test_model_factory.py
  tests/core/unit/trainer/test_trainer.py
  tests/core/unit/utils/test_checkpoint_utils.py
  tests/core/unit/utils/test_export_utils.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_input_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_input_golden.pt.license
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_output_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_output_golden.pt.license
  tests/usecases/nss/unit/test_nss_model.py
  tests/usecases/nss/unit/test_nss_model_core.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Remove list-models from cli time test
  tests/usecases/nss/integration/test_CLI.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Remove list-models from cli time test (#128)
  tests/usecases/nss/integration/test_CLI.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-163: Remove FeedbackModel (#129)
  src/ng_model_gym/core/evaluator/evaluator.py
  src/ng_model_gym/core/model/__init__.py
  src/ng_model_gym/core/model/base_ng_model.py
  src/ng_model_gym/core/model/base_ng_model_wrapper.py
  src/ng_model_gym/core/model/model_factory.py
  src/ng_model_gym/core/model/model_tracer.py
  src/ng_model_gym/core/model/recurrent_model.py
  src/ng_model_gym/core/trainer/trainer.py
  src/ng_model_gym/core/utils/checkpoint_utils.py
  src/ng_model_gym/core/utils/export_utils.py
  src/ng_model_gym/usecases/nss/model/model_v1.py
  tests/core/unit/evaluator/test_evaluators.py
  tests/core/unit/model/test_model_factory.py
  tests/core/unit/trainer/test_trainer.py
  tests/core/unit/utils/test_checkpoint_utils.py
  tests/core/unit/utils/test_export_utils.py
  tests/usecases/nss/integration/base_integration.py
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_input_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_input_golden.pt.license
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_output_golden.pt
  tests/usecases/nss/unit/data/nss_v1_golden_values/nss_output_golden.pt.license
  tests/usecases/nss/unit/test_nss_model.py
  tests/usecases/nss/unit/test_nss_model_core.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-221: Update Slangtorch
  pyproject.toml
  src/ng_model_gym/core/model/shaders/slang_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-221: Update Slangtorch (#130)
  pyproject.toml
  src/ng_model_gym/core/model/shaders/slang_utils.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Add Config Validator for validate_frequency
  src/ng_model_gym/core/config/config_model.py
  src/ng_model_gym/core/config/schema_config.json
  src/ng_model_gym/core/trainer/trainer.py
  tests/scripts/test_config.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-179 Write all missing fields from dataset spec to safetensors files
  scripts/safetensors_generator/dataset_reader.py
  tests/scripts/test_safetensors_writer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Write all missing fields from dataset spec to safetensors files (#132)
  scripts/safetensors_generator/dataset_reader.py
  tests/scripts/test_safetensors_writer.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Add Config Validator for validate_frequency (#133)
  src/ng_model_gym/core/config/config_model.py
  src/ng_model_gym/core/config/schema_config.json
  src/ng_model_gym/core/trainer/trainer.py
  tests/scripts/test_config.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Enable QAT HuggingFace Integration Test
  tests/usecases/nss/integration/test_qat_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Enable QAT HuggingFace Integration Test (#134)
  tests/usecases/nss/integration/test_qat_integration.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-258 Update test commands to run for all usecases by default
  docs/testing.md
  pyproject.toml
Due: blocklint

MLMOD-258 Update test commands to run for all usecases by default (#135)
  docs/testing.md
  pyproject.toml
Due: blocklint

Fix minor typo in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix minor typo in CONTRIBUTING.md (#137)
  CONTRIBUTING.md
Due: none

Add optical flow example
  scripts/optical_flow/README.md
  scripts/optical_flow/argmin_centered.py
  scripts/optical_flow/blockmatch_v32.py
  scripts/optical_flow/down_sampling_2d.py
  scripts/optical_flow/optical_flow_example.py
Due: autoflake, isort, format, pylint, bandit, blocklint

Add optical flow example (#139)
  scripts/optical_flow/README.md
  scripts/optical_flow/argmin_centered.py
  scripts/optical_flow/blockmatch_v32.py
  scripts/optical_flow/down_sampling_2d.py
  scripts/optical_flow/optical_flow_example.py
Due: autoflake, isort, format, pylint, bandit, blocklint

MLMOD-263 Remove Python package install from Dockerfile
  Dockerfile
  docs/setup.md
Due: blocklint

Update dependencies
  pyproject.toml
Due: none

Update dependencies (#140)
  pyproject.toml
Due: none

MLMOD-263 Remove Python package install from Dockerfile (#141)
  Dockerfile
  docs/setup.md
Due: blocklint

Align .dockerignore with .gitignore
  .dockerignore
Due: none

Align .dockerignore with .gitignore (#142)
  .dockerignore
Due: none

Update LICENSE.md to mention `model_export.py`
  LICENSE.md
Due: none
